# General
.vscode
.idea
_things
desktop.ini
.DS_Store
*.pdf

# Figures
!figs/*.pdf
!figs/**/*.pdf

# Rust
/target
**/*.rs.bk

# Node
node_modules
tools/test-helper/dist
package-lock.json

# Nix
/result
.direnv/