name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}main.pdf
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/configure-pages@v5
      - name: Install fonts
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y fonts-ipafont-mincho fonts-ipafont-gothic -qq
          sudo apt-get install -y msttcorefonts -qq
      - uses: typst-community/setup-typst@v4
      - name: Compile
        run: |
          mkdir ./out
          typst compile ./main.typ ./out/main.pdf
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./out
      - uses: actions/deploy-pages@v4
        id: deployment